body{
    margin: 0 0 0 0;
    background-color: #E3E3E3;
}
h1 {
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    font-size: 1.2em;
}

h2 {
    font-size: 1.2em;
}

header {
    display: block;
    color: white;
    background-color: #CC0000;

    a, a:visited, a:hover {
        color: white;
        text-decoration: none;
    }
}

div {
    font-size: 1em;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    &:hover {
        color:red;
    }
}

.rank {
    float: left;
    font-size: 2em;
}

.info {
    font-size: 1.2em;
}

.video_info {
    font-size: 0.8em;
}

.track {
    clear: both;
    border-bottom: dotted medium #FFE4E1;
    margin-bottom: 8px;
}

.play_button {
    float: right;
    margin-bottom: 10px;
}

.select-country {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2em;

    a {
        color: #004276;
        &:hover {
            color: red;
        }
    }

    li {
        margin: 10px 0;

    }
}

input {
    &[type="button"] {
        padding: 5px 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: #EEEEEE;
        border-radius: 5px;
        color: #004276;

        &:hover {
            background-color: #FFE4E1;
        }
    }
}

#video {
    margin-left: 25px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

#next_img {
    margin-right: 5px;
    margin-bottom: 20px;
    float: left;
}
#next_song {
    font-size: 0.8em;
}

#current {
    clear: both;
    margin-left: 25px;
    background-color: #FFE4E1;
    border-radius: 5px;
}

#player, #operation {
    text-align: center;
    margin-left: 25px;
}

footer {
    display: block;
    font-size: 0.9em;
    height: 30px;
    padding: 2px;
    color: white;
    background-color: #CC0000;

    a, a:visited {
        color: white;
    }

    a:hover {
        color: gray;
    }
}

